
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top: 50px">
        <aside class="col-md-2" style="
              border: 1px solid gray;background-color: #afa9a9;padding: 0;height: fit-content;
            ">
            <h3 style="background-color: black; color: aliceblue" class="text-center">
                Tìm xe
            </h3>
            <div style="margin: 5px">
                <div style="background-color: #afa9a9">
                    @*<h6>&#8287;&#8287;Thời gian bạn đi</h6>
                    <label for="">&#8287;&#8287;Ngày nhận xe</label>
                    <input type="date" class="form-control" id="datetimepickerNgayNhan1" value="" />
                    <label for="">&#8287;&#8287;Ngày trả xe</label>
                    <input type="date" class="form-control" id="datetimepickerNgayTra1" value="" />*@
                    <h6>&#8287;&#8287;Thông tin xe</h6>
                    @*<select type="text" class="form-control" id="district_id" name="district_id" required="">
                        <option>Chọn địa điểm nhận xe</option>
                        <option value="1">1</option>
                    </select>*@
                    <select type="text" class="form-control" id="a" name="loaiXe" required="">
                        <option>Tất cả loại xe</option>
                        <option value="1">1</option>
                    </select>
                    <select type="text" class="form-control" id="b" name="hieuXe" required=""
                            aria-placeholder="Tất cả thương hiệu">
                        <option>Tất cả thương hiệu</option>
                        <option value="1">1</option>
                    </select>
                    <button type="submit" class="btn btn-lg btn-primary text-center" style="width: 100%">
                        Tìm xe
                    </button>
                </div>
            </div>
        </aside>
        <menu class="col-md-10">
            @RenderBody()
            
        </menu>
    </div>
</div>

