
@{
    ViewBag.Title = "_LayoutAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-dark sidebar" style="height:100%;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("QuanLyNguoiDung","Admin")">Quản lý người dùng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("QuanLyPhanQuyen","Admin")">Quản lý phân quyền</a>
                        </li>
                    </ul>

                </div>
            </nav>
            <menu class="col-md-10">
                @RenderBody()
            </menu>
        </div>
    </div>
</main>

