
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row" style="margin-top: 50px; justify-content:center">
        <div class="col-md-2" style="border: 1px solid gray;background-color: #afa9a9;padding: 0;height: fit-content;">
            <h3 style="background-color: black; color: aliceblue;" class="text-center">
                Tìm xe
            </h3>
            <form style="margin:0 5px 0 5px;">

                <div class="form-group">
                    <label for="formGroupExampleInput">Tìm theo loại xe: </label>

                    @Html.DropDownList("LoaiXeId", new SelectList(new string[] { }), new { @class = "form-control", @id = "LoaiXeId", name = "LoaiXeId" })

                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Tìm theo hiệu xe: </label>

                    @Html.DropDownList("NhanHieuId", new SelectList(new string[] { }), new { @class = "form-control", @id = "NhanHieuId", name = "NhanHieuId" })

                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Tìm theo giá</label>

                    <text>Từ</text><input type="number" name="min" style="width:100%" id="minId" class="form-control" />
                    <text>Đến</text><input type="number" name="max" style="width:100%" id="maxId" class="form-control" />
                </div>
                <div class="form-group" style="text-align:center">
                    @Html.ActionLink("Tìm xe", "Index", "Xe", new { min = "minval", max = "maxval", hieuXe = "hieuXeval", loaiXe = "loaiXeval" }, new { id = "TimKiemId", @class = "btn btn-primary text-center" })
                </div>
            </form>

        </div>
        <menu class="col-md-10">
            @RenderBody()
        </menu>
    </div>

</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
    $.ajax({
        url: "/Xe/LoadType",
        type: "POST",
        dataType: "json",
        success: function (response) {
            if (response.status == true) {
                var html = '<option value="">--Chọn loại xe--</option>"';
                var data = response.data;
                $.each(data, function (i, val) {
                    html += '<option value="' + val.maLoaiXe + '">' + val.tenLoaiXe + '</option>"'
                });
                $('#LoaiXeId').html(html);
            }
        }
    });
    $.ajax({
        url: "/Xe/LoadBrand",
        type: "POST",
        dataType: "json",
        success: function (response) {
            if (response.status == true) {
                var html = '<option value="">--Chọn hiệu xe--</option>"';
                var data = response.data;
                $.each(data, function (i, val) {
                    html += '<option value="' + val.maHieuXe + '">' + val.tenHieuXe + '</option>"'
                });
                $('#NhanHieuId').html(html);
            }
        }
    });
    $('#TimKiemId').click(function () {
        $('#TimKiemId').attr('href', function () {
            return this.href.replace('minval', $('#minId').val());
        });
        $('#TimKiemId').attr('href', function () {
            return this.href.replace('maxval', $('#maxId').val());
        });
        $('#TimKiemId').attr('href', function () {
            return this.href.replace('hieuXeval', $('#NhanHieuId').val());
        });
        $('#TimKiemId').attr('href', function () {
            return this.href.replace('loaiXeval', $('#LoaiXeId').val());
        });
    })

</script>