
.form-login {
    border: 1px solid none;
    border-radius: 10px;
    margin: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px 30px 30px;
}
