
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div style=" font-size: 18px;font-weight: bold;padding-bottom: 10px; margin-top: 20px;">Liên hệ</div>
    <div class="row">

        <div class="col-md-5" style="margin-right: 0px;">
            <div style=" margin-top: 10px; ">
                <div style=" font-size: 16px; line-height: 1.5;"><b>Địa chỉ</b>: 155, Đường Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh, Việt Nam</div>
                <div style=" font-size: 16px; line-height: 1.5;">Điện thoại: <b>(028) 1123 4563 –  Hotline: 0123 456 789</b></div>
                <div style=" font-size: 16px; line-height: 1.5;">Phản ánh chất lượng dịch vụ: 093 556 2222</div>
                <div style=" font-size: 16px; line-height: 1.5;"><b>Thời gian làm việc</b>: 9AM – 8PM, <b>Chủ nhật:</b> 10AM – 7PM</div>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom:15px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.8650537937092!2d106.66685522917331!3d10.776020816975498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb0c743925%3A0x429098e67e8786a7!2zS2hvYSBDw7RuZyBOZ2jhu4cgVGjDtG5nIFRpbiAtIMOQ4bqhaSBI4buNYyBOZ2_huqFpIE5n4buvIFRpbiBI4buNYyBUaMOgbmggUGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1593547456303!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>